*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
    
}


html, body, #app-container {
    height: 100%;
    width: 100% ;
    
}

body {
  position: relative; 
  display: flex;
}
body::after {
  content: "";
  background-image: url("/src/images/azure-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;

}
#app-container {

}

#location {
  color: red;
  /* background-color: aliceblue; */
}

.card {
  background-color: #ffffff80;
}
